
body{
    margin: 0;
    padding: 0;
}

#FlackHeader{
  background-color: #373D48;
  border: 1px solid black;
  color: #00A3E0;
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
  padding-right: 2%;
  padding-top: 10px;
}


#FlackMain{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 630px;
}

#FlackMain div.sidebar{
  background-color: #373D48;
  flex-basis: 20%;
  height: 100%;
}

#FlackMain div.sidebar .sidebar-head{
  border: 0.4px solid lightgray;
  color: white;
  padding-left: 4.6%;
  padding-top: 2.2%;

}

#FlackMain .sidebar .sidebar-body{
  color: lightgray;
  padding-left: 4.6%;
}

.channelList{
  color: lightgray;
}

.sidebar-channels{
  padding-left: 4.6%;
  padding-top: 2.2%;
}

#FlackMain .sidebar-title.main-title{
  font-size: 1.8rem;
}

#FlackMain .sidebar-title.channel-title{
  font-size: 1.25rem;
}

#FlackMain .sidebar-messages{
  list-style-type: none;
  background-color: #373D48;
  flex-basis: 20%;
  height: 100%;
}

.sidebar-messages-private{
  list-style-type: none;
}
#FlackMain .sidebar-head{
    flex-basis: 20%;
}


.FlackContent {
  align-content: flex-start;
  align-items: flex-start;
  background-color:#4A5664;
  display: flex;
  flex-direction: column;
  flex-basis: 79.8%;
  height: 100%;
  justify-content: flex-start;
}


.FlackContent-head {
  background-color: #373D48;
  border: 0.4px solid lightgray;
  color: white;
  width: 100%;
}

.FlackContent .FlackContent-head .FlackContent-title {
  font-size: 2rem;
  padding-left: 4.6%;
  padding-top: 0.15%;
}

.FlackContent-messagesDisplay {
  color: white;
  height: 420px;
  list-style-type: none;
  overflow-y: scroll;
  width: 100%;
}
.FlackContent-messagesDisplay.scroll{
  overflow-y: scroll;
}

.FlackContent-messages{
  width: 94%;
}

.FlackContent-form{
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.FlackContent-form .form-group{
  flex-direction: column;
}

.FlackContent-options{
  display: flex;
  flex-direction: row-reverse;
}

.FlackContent-optionsButton{
  color: lightgray;
  border: none;
}


#FlackFooter {
border: 1px solid black;
height: 74px;
}

.media{
  padding-right: 5%;
}

