{% extends "layout.html" %}

{% block content %}
<div>
    <h3>Welcome, {{session['username']}}</h3>
    <h3>channel: {{ session['channel'] }}</h3>
</div>

<div class="row text-center">
     <div class="col-lg-4 mr-2">
        <h2>Chat</h2>
        {%- if not messages -%}
            <li>Share a message</li>
        {%- endif -%}

        {%- if message -%}
            {%- for message in messages -%}
                {%- if message[0] != session['username'] -%}
                <li class="chat"><b>{{ message[0] }}</b>{{ message[1] }}{{ '\n' }}{{ message[2] }}</li>

                {%- else -%}
                 <li class="localchat"><b>{{ message[0] }}</b>{{ message[1] }}{{ '\n' }}{{ message[2] }}</li>
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}

        <ul id="msg">
            <li></li>
        </ul>

        <form id="nmsg">
            <input id= "msg" autofocus placeholder= "Write a message" type="text">
            <button type="submit" id="submit">submit</button>
        </form>
{% endblock %}