{% extends "layout.html" %}

{% block content %}

<div class="row text-center">
     <div class="col-lg-4 mr-2">
        <h2>Chat</h2>
        {%- if not messages -%}
            {%- for message in messages -%}
                <lli><b>{{ message }}</b></lli>
            {%- endfor -%}

            {{ '*********NEW MESSAGES********' }}
            {{- '\n' -}}
        {%- endif -%}
        <ul id="msg">

        </ul>

        <form id="nmsg">
            <input id= "msg" autofocus placeholder= "Write a message" type="text">
            <button type="submit" id="submit">submit</button>
        </form>
{% endblock %}