{% extends "layout.html" %}
{% block content %}

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="row">
    <div class="col-lg-4 mr-2">
         <h2>Channels</h2>
         <ul id="channelslist" class="list-group mt-2"></ul>
         <form action="/new_channel" id="new-channel" method="post">
             <input name="channel" id="channel" class="form-control" placeholder="Add new channel"type="text">
             <button id="Add-new-channel" class="btn btn-sm btn-outline-secondary" type="submit">Create</button>
         </form>
    </div>
</div>

<script>/* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}</script>

{% endblock %}